<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>短網址爹蘇</title>
    <link rel="icon" href="/img/icon.png">
    <link rel="stylesheet" href="/css/style.css">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.6.3/css/all.css"
        integrity="sha384-UHRtZLI+pbxtHCWp1t77Bi1L4ZtiqrqD80Kn4Z8NTSRyMA2Fd33n5dQ8lWUE00s/" crossorigin="anonymous">
    <link rel="stylesheet" href="/stylesheet/style.css">
</head>

<body>
    <header class="container">
        <a href="/">
            <h1>URL Shortener</h1>
        </a>
        <div class="pt"><i class="fas fa-link fa-6x"></i></div>
    </header>

    <main>
        {{{ body }}}
    </main>
    <script src="/js/jquery-3.3.1.js"></script>
    <script src="/js/script.js"></script>
</body>

</html>