<div>
  <form action="/" method="POST" class="container">
    <div class="input-control">
      <input type="url" name='url' placeholder="Input URL here" value="{{shortenedUrl}} " id="url">
      <span>
        Please input a URL.
      </span>
    </div>
    <div>
      <button class="my-btn" type="submit" id="shorten">Shorten</button>
    </div>
  </form>
</div>