<div class="container">
    <div class="input-control">
        <a href="{{url}}">
            <input type="text" value="{{url}}" placeholder="Success! Please use this link:">
        </a>
        <span>
            Success! Please use this link
        </span>
    </div>
    <div>
        <button class="my-btn">Copy</button>
    </div>
</div>